@font-face {
    font-family: 'Iceland';
    src: url('fuentes_css3/Iceland/Iceland-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Iceberg';
    src: url('fuentes_css3/Iceberg/Iceberg-Regular.ttf');
  }

  @font-face {
    font-family: 'Inconsolata';
    src: url('fuentes_css3/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf');
  }

.index
{
    transition: 5s;
}
  /*Header de index y demas*/

  /*
  /////////////////////////////////////////////////////////////////////////////////////////////////
  */
  .headerPrincipal {
    background-color: black;
}


.headerPrincipal .container {
  display: flex;
  align-items: center;
}
.headerPrincipal-logo{
  margin-left: 3.5%;
}

.headerPrincipal-nav {
  display: flex;
  margin-top: 0.7%;
}
.headerPrincipal-nav a{
  text-decoration: none;
  font-family: 'Iceland';
    font-style: normal;
    font-size: 30px;
    margin: 0 0 0 9%;
}

.headerPrincipal-nav-textoRojo{
  width: auto;
    color: #851A1A;
    transition: all 0.5s ease;
}
.headerPrincipal-nav-textoRojo:hover{
  color:whitesmoke;
  box-shadow: 15px 15px 50px 10px #851A1A;
}

.headerPrincipal-nav #tarjeta-prime{
  display: flex;
  transition: all 0.5s ease;
}

.headerPrincipal-nav #tarjeta-prime:hover{
  box-shadow: 15px 15px 50px 10px yellow;
}

.headerPrincipal-nav #tarjeta-prime .yellow{
  color: yellow;
}

.headerPrincipal-nav #tarjeta-prime .white{
  color: white;
  
  
}

.headerPrincipal-nav #tarjeta-prime .white:hover{
  box-shadow: 15px 15px 50px 10px white;
}



.headerPrincipal-nav #ubicacion{
  display: flex;
  transition: all 0.5s ease;
}

.headerPrincipal-nav #ubicacion:hover{
  box-shadow: 15px 15px 50px 10px gray;
}

.headerPrincipal-nav #ubicacion .ubicacion-union{
  color: gray;
  display: flex;
}



.headerPrincipal-nav #ubicacion span .imagen-ubicacion{
  float: right;
  margin-top: -10%;
  transition: all 0.5s ease;
}



.headerPrincipal-nav .input-busqueda{
 
  margin: 0 0 0 12%;
}

.headerPrincipal-nav .input-busqueda #lupa{
  opacity: 50%;
  position: relative;
  width: 40px;
  height: 40px;
  float: right;
 /* transition: all 0.5s ease;*/
  
  transition: transform 0.2s ease-in-out,opacity 0.3s ease-in;
  /*transition: opacity 0.3s ease-in;*/
  
  cursor: pointer;
  
}


.headerPrincipal-nav .input-busqueda #lupa:hover{
  opacity: 70%;
  box-shadow: 15px 15px 50px 10px #851A1A;
}

#buscar{
  font-family: 'Iceland';
  color: white;
  background: black;
  pointer-events: none;
  opacity: 0;
  right: 16.2%;
    position: absolute;
    top: 5.2%;
    box-shadow: 15px 15px 50px 10px #851a1a;
    width: 7.5%;
    height: 2.0%;
    transition: all 2s ease;
    font-size: 1.2em;

/*
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
    border-right: 1px solid #bbb;
    font-family: Georgia, 'Times New Roman', Times, serif;
*/
}




.ingreso-usuario
{
  display: grid;
  margin-left: 29.4%;
}

#registrar {
  cursor: pointer;
  
  color: white;
  background-color: gray;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border-color: #851A1A;
  transition: 1.5s;
}


#registrar:hover{
  /*
  text-shadow: 4px 4px 15px #851A1A; 
  text-shadow: 4px 4px 15px white, 0 0 20px #851A1A; */
  box-shadow: 0px 0px 23px 10px #851A1A;
  

  background-color: white;
  color: gray;
  border-color: #851A1A;
}

#iniciar-sesion {
  cursor: pointer;
  color: white;
  background-color: #851A1A;
  border-radius: 30px ;
  border-color: goldenrod;
  width: 150px;
  height: 50px;
  font-size: 18px;
  transition: 1.5s;
}

#iniciar-sesion:hover{
  /*
  text-shadow: 4px 4px 15px #851A1A; 
  text-shadow: 4px 4px 15px white, 0 0 20px #851A1A; */
  box-shadow: 0px 0px 23px 10px goldenrod;
  

  background-color: white;
  color: #851A1A;
  border-color: #851A1A;
}


/*
.headerPrincipal-nav .input-busqueda{
  margin: 0 0 0 10%;
}

.headerPrincipal-nav .input-busqueda #buscar{
  width: 10%;
}


.input-busqueda .imagen-lupa{
  
}
*/

/*
//////////////////////////////////////////////////////////////////////////////////
*/


.header-line {
    width: auto;
    height: 10px;
    
    background: linear-gradient(black,white);
}
/*Fin de header*/




/*Main Index**********************************************************************************************************/
main{
    width: 100%;
    height: 100%;
    background-color: black;
}
#response{
  flex-wrap: wrap;
    /*text-align: center;*/
    display: flex;
   /* margin: 4% 3%;*/

    color: black;
    font-family: 'Terminal';
    /*text-shadow: 4px 4px 15px #00FF00; 
    text-align: left;*/
   /* margin-right: 10%;
    margin-top: 10%;
    margin-left: 7%;*/

  }
  #diseno-pelicula
  
  {
    position: relative;
  display: inline-block;
    font-size: 1em;
    
    margin-inline: 7% 0%;
    margin-block: 10%;
    
    transition: 0.5s ease-in-out opacity;
    cursor: pointer;
    
    /*margin-inline: 7% 0%;*/
   /* margin-right: 4.5%;
    border-radius: 6%;*/
  }
  #diseno-pelicula:hover{
    opacity: 30%;
    color: white;
    
  }
  
  #diseno-pelicula .icon {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: 0.5s ease-in-out opacity;
  }

  #diseno-pelicula:hover .icon{
    opacity: 1;
  }

  #diseno-pelicula #miniatura-pelicula{
    width: 420px;
    height: 534px;
  }
  


  img#estado {
    position: absolute;
    /* left: 65%; */
    /* left: 5%; */
    margin-left: -7.9%;
}

  

  #miniatura-pelicula{
    width: 44%;
    height: 80%;
    border-radius: 6.8%;
    object-fit: cover;
    border: 5px black solid;
    transition: 1s ease-in opacity;
    /*float: left;*/
    
  }

 
#catalogo{
  background: linear-gradient(black,#333,black);
}

.texto-peliculas {
    text-shadow: 4px 4px 15px #851A1A, 0 0 20px black; /* sombra de texto */
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: 'Iceland';
  }
  
/* Estilos comunes para todas las películas */
.pelicula {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 8px;
  }
  
  /* Estilos específicos para cada película */
  #pelicula-1 {
    background-color: #e5f5ff;
  }
  
  #pelicula-2 {
    background-color: #fff5e5;
  }
  
  /* Estilos para el título de la película */
  .titulo-pelicula {
    text-shadow: 0 0 firebrick;
    font-family: 'Iceberg';
    font-size: 2.4em;
    font-weight: bold;
  }

  .informacion-pelicula{
    font-weight: bold;
    font-size: 1.8em;
    font-family: 'Iceberg';
    text-shadow: 0 0 white;

  }
  .advertencia-pelicula{
    font-size: 1.59em;
    font-family: 'Iceland';
    border: solid lightgray;
    width: 100%;
    background-color: lightgray;
    /*text-shadow: 0 0 white;*/
    font-weight: bold;

  }
  .sipnosis-pelicula{
    width: inherit;
    font-family: 'Inconsolata';
    font-size: 1em;
    color: whitesmoke;
   /* text-shadow: 4px 4px 15px white, 0 0 20px #851a1a;*/

  }
  
  /* Estilos para la imagen de la película */
  .imagen-pelicula {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  
  /* Estilos para la descripción de la película */
  .descripcion-pelicula {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1em;
  }
  
  /* Estilos para el botón de entradas */
  .boton-entradas {
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;
    background-color: #ffa600;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .boton-entradas:hover {
    background-color: #ff8c00;
  }
  /*Fin main index************************************************************************************************************/




/*Incicio de main de registro**********************************************************************************************************************/

  #registro{
    display: inline-block;
    width: 100%;
    height: 45em;
    background: url(logos/fondo.jpg); /*imagen de fondo*/
    background-size: cover; /*ajusta la imagen de fondo al tamaño del contenedor*/
    
}

#terminos{
}




h2 {
    text-shadow: 4px 4px 15px white, 0 0 20px #851A1A; /* sombra de texto */
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #FFD700; /* color dorado */
    font-family: 'Iceland';
}


  form {
    text-align: center;
}

form label{
    display:block;
    font-size: 25px;
    
    font-family: 'Iceland';
    
    color: white;

    text-shadow: 4px 4px 15px #851A1A; /* sombra de texto */
    text-shadow: 4px 4px 15px white, 0 0 20px #851A1A; /* sombra de texto */
    /*
    
     

    */
}

form input{
    
    margin: 0 0 0 0;

    border: 2px solid black; /*borde*/
    border-radius: 10px; /* radio de los bordes*/
    width: 15%; /*ancho del input*/
    padding: 10px; /*espacio interior */
    outline: none; /*elimina el borde predeterminado*/
    box-shadow: 0 0 10px 1px red; /*sombra alrededor del input*/
}

.enviar{
    display: block;
    text-align: center;
    margin-left: 42.5%;
    background-color: black; /*color de fondo*/
    color: white; /*color de letra*/
    
    border: 2px solid red; /*borde*/
    font-size: 25px; /*tamaño de letra*/
    
    border-radius: 15px; /* radio de los bordes redondos*/
    padding: 0; /*espacio interior */
    font-weight: bold; /*grosor de letra */

    height: 40px; /*alto del input*/
    
    font-family: 'Iceland';
}

.formulario{
    margin: 4% 0 5% 1%;
    color: white;
    text-shadow: 4px 4px 15px #851A1A; /* sombra de texto */
    text-shadow: 4px 4px 15px black, 0 0 1px #851A1A; /* sombra de texto */
    text-align: center;
    font-family: 'Iceland';
    font-style: normal;
    font-size: 40px;
}

/*Fin de main de registro**************************************************************************************/




/*Inicio de main de informacion legal***********************************************************************/
#terminos{
    
    display: inline-block;
    width: 100%;
    height: 45em;

    border-top: 5px solid gray;

    background: url(logos/terminos.jpg); /*imagen de fondo*/
    background-size: cover; /*ajusta la imagen de fondo al tamaño del contenedor*/
    background-position: center; /*posiciona la imagen de fondo en el centro del contenedor*/
}

#terminos p{
    display:block;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: white;

    text-shadow: 4px 4px 15px black; /* sombra de texto */
}


/*Fin de main de informacion legal*********************************************************************************/


















/*Footer de index y demas*/

  .footer-line {
    width: auto;
    height: 10px;
    background: linear-gradient(white, black);
  }



  footer{
    background: black;
}

.pie-pagina{
    width: auto;
    height: auto;
}

#logo-pie-pagina{
   
    float: left;
}

.legal li{
    

    margin-top: 2%;
    margin-left: 3.8%;
    display: inline-block;
    font-family: 'Iceland';
    font-style: normal;
    font-size: 30px;
    line-height: 29px;
    align-items: center;
}




.legal a{
    margin-right: 120px;
    color: white;
    text-decoration: none;
}
.legal a:hover{
    color:white;
    text-decoration:underline;
}

#copyright{
    display: block;
    text-align: center;
    /*place-items: center;*/
}

/*Fin de footer*/




@media screen and (max-width:480px) {
  .container{
    
    
  }  
  /*
    .logo-principal{
        margin: 1% 0 0 0;
        float: left;
    }
    .pestañas{
        display: block;
        font-size: 1.5em;
        text-align: center;
    }
    #ubicacion{
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
    }
    #registrar{
        width: 30%;
        height: 2em;
        float: left;
        
    font-family: 'Iceland';
    }
    #iniciar-sesion{
        width: 30%;
        height: 2em;
        float: right;
        
    font-family: 'Iceland';
    }

    #registrar,#iniciar-sesion{
        
    }
   .yellow{
    margin-left: 4%;
   }


   .pie-pagina{
    text-align: center;
   }
   #logo-pie-pagina{
    margin-left: 26%;
   }

   .legal li{
        font-size: 1.3em;
        margin-top: 0;
        margin-left: 24%;
   }

   #registro{
    height: 30.2em;
   }

   form input{
    width: 50%;
   }

   .enviar{
    margin-left: 24.5%;
   }
   #terminos p{
    font-size: 1.3em;
   }*/

}










































/*
.pestañas h1 a{
    color: #851A1A;
}
.pestañas h1 a:hover {
    color:#c78c19;
    text-decoration:underline;
}

.pestañas h2{
    
    padding-left: 80px;
    

}
.pestañas h2:hover {
    color:#c78c19;
    text-decoration:underline;
}

.pestañas h3{
    padding-left: 80px;
    
}
.pestañas h3:hover {
    color:#c78c19;
    text-decoration:underline;
}
*/
